// FUENTE

$Fuente: "IBM Plex Sans", sans-serif;

// COLORES

$HoverCyan: #66E2DC;
$Orange: #FA7453;
$HoverYellow: #FFB964;
$Blanco: #FCFAF9;
$BtnOne: #191826;

// MEDIA QUERYS

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1440px;